*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(https://img.freepik.com/vector-gratis/gran-fondo-hojas-verdes-tropicales_52683-36490.jpg?size=626&ext=jpg);
}

h1{
    color: #ffcbcb;
    text-align: center;
}

.form-register{
    width: 98%;
    max-width: 500px;
    margin: auto;
    background: #70adb5;
    border-radius: 7px;
}

.form__titulo{
    background: #132743;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    border-bottom: 5px solid;
}

.contenedor-inputs{
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkblue;
}
.input-48{
    width: 48%;
}

.input-100{
    width: 100%;
}
 .btn-enviar{
     background:#132743 ;
     color:white;
     margin: auto;
     padding: 10px  40px;
     cursor: pointer;
 }

 .btn-enviar:active{
     transform: scale(1.05);
 }
 .form-link{
     width: 100px;
     margin: 7px;
     text-align: center;
     font-size: 14px;
 }
